.App {
	display: flex;
	flex-flow: column;
	height: 100%;
}

/*Pushes <Footer /> to the bottom of the page.
/* this will only work so long as the site contains four "global" components (Header, NavBar, Layout, Footer) */
.App > :nth-child(3) {
	flex: auto;
}
